<div class="top-main">
  <div class="top-container">
  <i class="fas fa-bars"></i>
    <div class="top-title-area">
      <h1 class="top-title">Make Quiz</h1>
    </div>

    <ul class="start-list">
      <li><%= link_to  "Let's Start Qiuz", quizzes_path, class:"list txt1" %></li>
      <% if user_signed_in? %>
      <li><%= link_to  "Make your Quiz", root_path, class:"list txt2" %></li>
      <li><%= link_to  "Sign Out", destroy_user_session_path,method: :delete, class:"list txt3" %></li>
      <% else %>
      <li><%= link_to  "Log In", new_user_session_path, class:"list" %></li>
      <li><%= link_to  "Sign Up", new_user_registration_path, class:"list" %></li>
      <% end %>
    </ul>

    <% if user_signed_in? %>
     <div class="user-name">
        ようこそ<%= @user.name %>さん
     </div>
     <% end %>
  </div>

</div>